.img-card{
    width: 250px;
}
.card {
    display: flex;
    flex-flow: column;
}
.contador {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.contador button {
    width: 45px;
    height: 20px;
}